html, body{
    margin: 0;
    scroll-behavior: smooth;
    max-width: 100rem;
}

::-webkit-scrollbar{
    display: none;
}

.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #222b33, #12171b);
}

.title{
    position: absolute;
    top: 30%;
    left: 36rem;
    mix-blend-mode: difference;
    text-align: center;
    align-items: center;
}

.title > div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-weight: 1000;
}

.title a, h1{
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
    display: flex;
}

.first_rain{
    background: linear-gradient(to bottom, #12171b, #000000);
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    height: 1000rem;
    display: flex;
}

.rainy-day{
    padding-top: 15rem;
    margin-top: 0;
    border-top: 0;
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
    padding-left: 15rem;
}

.first_rain h1{
    font-size: 30px;
    font-weight: bold;
}

.first_rain a{
    font-size: large;
    font-weight: bold;
}

.your-umbrella{
    position: absolute;
    padding-top: 50rem;
    margin-top: 0;
    border-top: 0;
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
    padding-left: 64rem;
    text-align: right;
}

.reed{
    position: absolute;
    padding-top: 95rem;
    margin-top: 0;
    border-top: 0;
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
    padding-left: 56.5rem;
    text-align: right;
}

.asking-to-you{
    position: absolute;
    padding-top: 80rem;
    padding-left: 15rem;
    margin-top: 0;
    border-top: 0;
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
}