html, body{
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #222b33, #12171b);
}

.title{
    position: absolute;
    top: 30%;
    left: 36rem;
    mix-blend-mode: difference;
    text-align: center;
    align-items: center;
}

.title > div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-weight: 1000;
}

.title a, h1{
    mix-blend-mode: difference;
    color: white;
    text-decoration: none;
    display: flex;
}